body {
  padding: 0;
}


.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-top:20px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
